header {
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header > h2 {
    margin-left: 10%;
}

header > nav {
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 10%;
}

header > nav > a:link {
    color: white;
    padding: 20px;
}

header > nav > a:visited {
    color: white;
    padding: 20px;
}

header > nav > a:hover {
    color: orange;
    text-decoration: none;
}

.logoCefimHomePage {
    width: 300px;
    height: 100px;
    margin-left: 10%;
}

.menuItems {
    font-size: large;
}