.stagesHeader {
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color:#000000;
    opacity: 0.8;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.stagesContainer {
    margin-top: 100px;
    background-color: #f8f8f8;
}
#navProfil {
    margin-left: 15px;
}

#stagesTitle {
    color : #F39C12;
    font-weight: bold;
    font-size: xx-large;
}

.userProfil {
    position: absolute;
    right: 5%;
    color : #F39C12;
    font-weight: bold;
}

.imageProfil {
    position: absolute;
    right : 15%;
    border-radius : 50px;
    margin-right: 5px;
}

.logoutProfil {
    position: absolute;
    right: 0;
}

#jobTitle {
    color : #F39C12;
    line-height: 10px;
}

#companyNameCity {
    line-height: 30px;
}

hr {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-width: 1.5px;
}

#jobDescription {
    color : #ff6666;
}

#publishedDate {
    position: absolute;
    right: 2%;
    color: #000000;
    font-size: 15px;
    font-style: italic;
}

a:link {
    color: #ff6666;
}

a:visited {
    color: #ff6666;
}

a:hover {
    color: #ff6666;
}

a:active {
    color: #ff6666;
}

.loader {
    position : absolute;
    top: 45%;
    left : 45%;
}